<h1><%- title %></h1>
<%- messages() %>
<form id="loginForm">
    <fieldset>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>

        <label for="email">Password:</label>
        <input type="password" name="password" id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
        
        <div class="password-requirements">
            <% if (locals.errors) { %>
              <ul class="notice">
           <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <%  }) %>
              </ul>
            <% } %>
        </div>
        <button type="submit">Login</button>
        <p>No account? </p><a href="/account/register">Sign-up</a>
    </fieldset>
</form>