<div id="error">
    <h1><%= title %></h1>
    <p>Oops! Something went wrong. Have you tried explaining it to the rubber duck?</p>
    <img src="/images/site/error_ai_ducky.jpg" alt="a rubber duck to listen to your programmer issues.">
    <p>Error: <%= message %></p>
</div>