<title><%- title %></title>
<h1><%- title %></h1>
<%- messages() %>
<nav>
    <a href="/inv/add-classification/">Add New Classification</a><br>
    <a href="/inv/add-inventory/">Add New Inventory</a>
</nav>
<h2>Manage Inventory</h2>
<p>Choose a classification to seethose inventory items.</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript is required to use this page.</noScript>
<script src="/js/inventory.js"></script>